/* ---------------------------------------------------------
   1. Embedded fonts styles
   ---------------------------------------------------------*/

@font-face {
  font-family: 'KBPayTheLady';
  src: url("../fonts/KBPayTheLady.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


/* ---------------------------------------------------------
   2. Common site styles
   ---------------------------------------------------------*/

html {
  min-height: 100vh;
}
body {
  /*background: url(/assets/landing-page/background@3x.png) no-repeat center center fixed;*/
  background: linear-gradient(225deg, #99D6F5 0%, #749CF6 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-size: 16px;
  font-family: 'KBPayTheLady';
  color: #fff;
}

#main {
  margin-top: 7.5vh;
}

.navbar-brand img {
  margin-top: 1rem;
  max-width: 11.125rem;
  text-align: center;
}

.app-icon {
  width: 6rem;
}

.title {
  color: #fff;
  font-family: "KBPayTheLady";
  font-size: 2.8125rem;
  font-weight: bold;
  line-height: 3.25rem;
  text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5);
  letter-spacing: .25rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: "KBPayTheLady";
  letter-spacing: .125rem;

  margin-bottom: 2rem;
}

.description {
  color: #fff;
  font-family: "KBPayTheLady";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: .0625rem;
  text-shadow: 0 2px 0 0 rgba(0,0,0,0.5);
}

p, p a {
  letter-spacing: 0.0625rem;
}

.mobile-spacing {
  height: .5rem;
}

.list-unstyled {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

ul.list-unstyled li span {
  width: 2rem;
  margin-right: 1.25rem;
}

ul.list-unstyled li span img {
  height: 1rem;
}

.features-list-item {
  display: inline-flex;
  vertical-align: middle;
}

.app-store-badge {
  width: 10.333rem;
  height: auto;
}

a:hover, a:focus, a:active,
.app-store-badge:hover, .app-store-badge:focus, .app-store-badge:active {
  opacity: .8;
}

.iphone-android-group {
  max-height: 34rem;
  width: auto;
  max-width: 90vw;
}

.footer {
  padding-top: 10vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer a {
  color: #fff;
}


@media (max-width: 576px) {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}